
/* Style for Small Device like phone */

@media screen and (min-width:200px) and (max-width: 480px) {
    .Banner{
        margin: 10px;
        padding: 0;
    }
    .Banner-content{
        /* margin: 0 15px; */
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        overflow-x: hidden;
    }
    .Banner-content .LeftSide-content{
        width: 300px;
        height: 350px;
        padding-left: 0px;    
        text-align: center;
        justify-self: center;
    }
    .Banner-content .LeftSide-content .description{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;  
    }
   
    .Banner-content .LeftSide-content .title{
        padding-right: 15px;
        width: 100%;
        font-size: 2rem;
        margin-bottom: 0;
    }
    
    .Banner-content .RightSide-content img{
        width: 100%;
        height:100%;
        margin-bottom: -4px;
    }
    

    .card{
        margin: 10px;
    }
    .blog-content{
        width: 100%;
        padding-top: 10px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 220px auto;
        gap: 20px;
    }
    .blog-leftSide{
        background-color: transparent;
    }
    .button-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-list > button{
        width: fit-content;
        border: 1px solid lightgray;
    }
    .button-list .active{
        border: none;
    }

    .blog-rightside{
        display: grid;
        grid-template-columns: auto;
    }

    .footer-link{
        display: flex;
        flex-direction: column;
    }
    footer .footer-link a{
        padding: 15px;
    }
  }