*{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 10px;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
}
.Banner-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(32, 31, 31);
    color: white;
    border-radius: 15px;
}
.Banner-content .LeftSide-content{
    padding-left: 80px;    
}
.Banner-content .RightSide-content{
    padding: 40px 60px 0px 40px;
}
.Banner-content .LeftSide-content .title{
    font-size: 4.5rem;
    margin-bottom: 0;
}
.Banner-content .LeftSide-content .description{
    font-size: 1.1rem;
    padding: 10px;
    color: rgb(212, 199, 199);
}
button{
    background-color: white;
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}

.Banner-content .RightSide-content img{
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
}

@media screen and (min-width: 769px) and (max-width: 1060px){
    .Banner-content .LeftSide-content .title{
        font-size: 2.5rem;
    }
}



.blog-content{
    width: 100%;
    padding-top: 80px;
    text-align: center;
    display: grid;
    grid-template-columns: 260px auto;
    justify-content: space-between;
    gap: 20px;
}
.blog-leftSide{
    background-color: rgb(32, 31, 31);
    padding: 20px;
    height: 220px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.button-list{
    display: flex;
    flex-direction: column;
}
.button-list .btn{
    padding: 15px;
    margin: 10px;
    font-weight: 600;
}
.active{
    background-color: red;
}
.white-color{
    color: white;
}
.blog-rightside{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 15px;
}

.card{
    align-items: stretch;
    border: 1px solid rgb(218, 213, 213);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.card:hover{
    box-shadow: 8px 8px 8px rgb(202, 192, 192);
}
.card .card-content{
    padding: 15px;
}
.card .card-button button{
    border: 1px solid black;
    padding: 2px 20px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}
.card .card-img img{
    width: 100%;
}
.card .card-title{
    margin: 0;
}
.card .card-title h3::before{
    content: "Transfer Live";
}
.card .card-icon {
    display: flex;
}

.card .card-icon p{
    padding-right: 15px;
    margin: 0;
}
.viewallbtn{
    display: none;
}



footer{
    background-color: rgb(27, 24, 24);
    color: white;
    margin-top: 25px;
}

.footer-title{
    text-align: center;
    padding: 6vw 0 2vw 0;
}
.footer-link{
    text-align: center;
    padding: 2vw 0 2vw 0;
}

footer .footer-link a{
    color: rgb(238, 221, 221);
    padding: 0 20px;
    justify-content: space-between;
}
footer .footer-link a:hover{
    color: rgb(233, 233, 233);
    text-decoration: underline;
}
footer .footer-social-icon{
    padding-top: 15px;
    padding-bottom: 35px;
    text-align: center;
}
footer .footer-social-icon span{
    padding: 10px;
    margin: 0px 5px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}
footer .footer-social-icon span:hover{
    color: black;
    background-color: white;
}