

/* Style for midium Device like tablet phone */


@media screen and (min-width: 481px) and (max-width: 768px) {
    .Banner{
        margin: 15px;
        padding: 0;
    }
    .Banner-content{
        width: 100%;
        height: 500px;
        /* margin: 15px; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: rgb(32, 31, 31);
        color: white;
        border-radius: 15px;
    }
    .Banner-content .LeftSide-content{
        padding-left: 80px;    
    }
    .Banner-content .RightSide-content{
        padding: 40px 60px 0px 40px;
    }
    .Banner-content .LeftSide-content .title{
        font-size: 2rem;
        margin-bottom: 0;
    }
    .Banner-content .LeftSide-content .description{
        font-size: 1.1rem;
        padding: 10px;
        color: rgb(212, 199, 199);
    }
        
    .Banner-content .RightSide-content img{
        width: 100%;
        height: 100%;
        margin-bottom: -4px;
    }
    
    

    .card{
        margin: 10px;
    }
    .blog-content{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50px auto;
        gap: 20px;
    }
    .blog-leftSide{
        width: 100%;
        padding: 0;
        background-color: transparent;
        
    }
    .button-list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    .button-list > button{
        border: 1px solid lightgray;
    }
    .button-list .active{
        border: none;
    }


    .blog-rightside{
        padding-top: 5px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(3, 1fr);
        grid-auto-rows: 0px; 
        /* set height to 0 for autogenerated grid rows */
        overflow-y: hidden; /* hide grid items that overflow */
        gap: 6px;
    }
    @media screen and (min-width: 481px) and (max-width: 640px){
        .button-list .btn{
            font-size: 15px;
            padding: 10px 0;
            margin: 10px;
            font-weight: 600;
        }
    }

    .viewallbtn{
        display: block;
    }
    .viewallbtn .btn a{
        color: white;
        padding: 0px 25px;
    }
    
    .footer-link{
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .footer-link a{
        padding: 15px;
        justify-content: space-between;
    }
    /* .footer-link{
        text-align: center;
        padding: 2vw 0 2vw 0;
    } */
    
  }